.link {
height: 100vh;
width: 100vw;
overflow: hidden;
text-align: center;
background-color: grey;
    font-family: 'Helvetica', Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
background-size: cover;


animation: image 10s infinite alternate;
}

@keyframes image {
    0% {
        background-image: url("/public/images/baclground4.jpeg");
    }

    100% {
        background-image: url('/public/images/background3.jpeg');
    }
}


h1 {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    top: 30px;
    color: white;
}

form {
    grid-row: 2;
    grid-column: 2;
}

form>label{
    font-size: 30px;
    color: white;
}

form>input{
 box-sizing: border-box;
 margin: 8px 0;
 width: 100%;
 padding: 12px 30px 12px;   
}

form>input:hover{
    color: rgb(98, 98, 180)
}

#dateInput{
    font-size: 25px;
}

form>button {
    width: 50%;
    height: 20%;
    margin: 10px 0;
    background-color: #212F3C;
    padding: 13px 10px 13px;
    color: white;
    border-radius: 10px; 
    font-size: 20px; 
    font-family: 'Helvetica', Arial, sans-serif;
    border: solid 1px white;
}
 
form>button:hover{
    color: black;
}

@media (max-width: 810px) {

form>label {
        font-size: 20px;
        color: white;
    }

form>input {
        box-sizing: border-box;
        margin: 8px 0;
        width: 100%;
        padding: 6px 15px 6px;
    }
#dateInput {
    font-size: 15px;
}

form>button {
    width: 70%;
    height: 15%;
    margin: 15px 0;
    background-color: #212F3C;
    padding: 4px 10px 6px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Helvetica', Arial, sans-serif;
    border: solid 1px white;
}
h1{
    font-size:20px;
}

}

@media (max-width: 480px) {
    #dateInput {
            font-size: 10px;
        }
}